<div class="home">
    <div class="top">
    </div>
    <div *ngIf="products.length === 0">
        В системе нет товаров
    </div>
    <div class="product-list" *ngIf="products.length !== 0">
        <div class="product-card-wrapper" *ngFor="let product of products">
            <mat-card class="product-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-subtitle *ngIf="!isSale(product)">{{product.price}} &euro;</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="isSale(product)"><label class="new-price">{{product.priceSale}} &euro;</label><label class="old-price">{{product.price}} &euro;</label></mat-card-subtitle>
                </mat-card-header>
                <img class="min-image" mat-card-image src="{{product.photo}}" alt="Фото товара">
                <mat-card-actions class="actions">
                    <button class="action-button" mat-raised-button color="primary" (click)="updateProduct(product.id)">Изменить</button>
                    <button class="action-button" mat-raised-button color="warn" (click)="deleteProduct(product.id)">Удалить</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

