.basket-home {
    padding: 10px 10px 10px 10px;
}

.page-header {
    margin-bottom: 10px;
    padding-top: 5px;
}

.image {
    width: 150px;
    height: 150px;
}

.minus, .plus {

    margin: 0 4px 0 4px;
    font: 20px Tahoma;
    width: 40px;
    height: 40px;
    text-align: center;
}

.number {
    -webkit-text-stroke-width: medium;
    display: inline-flex;
}

.input-number {
    background: #eeeeee;
    height: 40px;
    font-size: 1em;
    vertical-align: top;
    text-align: center;
    width: 100%;
    margin-top: -20px;
}

.price {
    font-size: 1.2em;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
}

.table {
    margin-inside: 40px;
}

.td {
    vertical-align: middle;
}