<div class="basket-home">
    <div class="basket-home-internal">
        <h1 class="header-order">
            Заказ № {{selectedOrder.id}}
        </h1>
        <button *ngIf="isInProgress()" mat-flat-button color="warn" class="button" (click)="complete()"><h4>Выполнить</h4></button>
        <table matSort class="table" *ngIf="!isMobile()">
            <tr>
                <th mat-sort-header="status">Статус</th>
                <th mat-sort-header="firstName">Имя</th>
                <th mat-sort-header="lastName">Фамилия</th>
                <th mat-sort-header="telephone">Номер телефона</th>
                <th mat-sort-header="email">Email</th>
                <th mat-sort-header="price">Стоимость</th>
                <th mat-sort-header="date">Дата заказа</th>
            </tr>

            <tr>
                <td class="td" *ngIf="isInProgress()">Не выполнен</td>
                <td class="td" *ngIf="!isInProgress()">Выполнен</td>
                <td class="td" >{{selectedOrder.ownerFirstName}}</td>
                <td class="td">{{selectedOrder.ownerLastName}}</td>
                <td class="td">{{selectedOrder.ownerPhone}}</td>
                <td class="td">{{selectedOrder.ownerEmail}}</td>
                <td class="td">{{calculateTotalSum()}} &euro;</td>
                <td class="td">{{selectedOrder.date}}</td>
            </tr>
        </table>
    </div>

    <div *ngIf="isMobile()" class="mobile-info">
        <div *ngIf="isInProgress()">Статус: Не выполнен</div>
        <div *ngIf="!isInProgress()">Статус: Выполнен</div>
        <div>Имя: {{selectedOrder.ownerFirstName}}</div>
        <div>Фамилия: {{selectedOrder.ownerLastName}}</div>
        <div>Номер телефона: {{selectedOrder.ownerPhone}}</div>
        <div>Email: {{selectedOrder.ownerEmail}}</div>
        <div>Стоимость: {{calculateTotalSum()}} &euro;</div>
        <div>Дата заказа: {{selectedOrder.date}}</div>
    </div>

    <table matSort class="table" *ngIf="!isMobile()">
        <tr>
            <th mat-sort-header="image"></th>
            <th mat-sort-header="name">Наименование</th>
            <th mat-sort-header="price">Цена 1 шт.</th>
            <th mat-sort-header="count">Количество</th>
            <th mat-sort-header="price">Стоимость</th>
        </tr>

        <tr *ngFor="let basketRow of selectedOrder.basket.basketRows.basketRowList">
            <td class="td"><img class="image" mat-card-image src="{{basketRow.product.photo}}" alt="Фото"></td>
            <td class="td">{{basketRow.product.name}}</td>
            <td class="price">{{basketRow.product.price}} &euro;</td>
            <td class="td"><div class="price">
                {{basketRow.count}}
            </div></td>

            <td class="price">{{basketRow.product.price*basketRow.count}} &euro;</td>

        </tr>
        <tr>
            <td colspan="3"></td>
            <td class="price">
                Итого:
            </td>
            <td class="price">
                {{calculateTotalSum()}} &euro;
            </td>
        </tr>
    </table>

    <div *ngIf="isMobile()" class="mobile-data">
        <div *ngFor="let basketRow of selectedOrder.basket.basketRows.basketRowList">
            <div class="total">
                <div class="td"><img class="image" mat-card-image src="{{basketRow.product.photo}}" alt="Фото"></div>
                <div class="td">{{basketRow.product.name}}</div>
                <div class="price">Цена: {{basketRow.product.price}} &euro;</div>
                <div class="td"><div class="price">Кол-во: {{basketRow.count}}</div>
                </div>

                <div class="price">Сумма: {{basketRow.product.price*basketRow.count}} &euro;</div>
                <div class="total">
                    <div class="price">
                        Итого:
                    </div>
                    <div class="price">
                        {{calculateTotalSum()}} &euro;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>