<div class="product">
    <img class="big-image" mat-card-image src="{{selectedProduct.photo}}" alt="Фото">
    <div class="main-block">
        <h1 class="js-product-title">{{selectedProduct.name}}</h1>
        <div class="product-title on-page"></div>
        <div class="description">
            <p>
            {{selectedProduct.description}}
            </p>
        </div>
        <div class="price">{{selectedProduct.price}} &euro;</div>
        <div class="number">
            <button mat-raised-button class="minus" (click)="countMinus()">-</button>
            <mat-form-field>
                <input matInput type="text" pattern="^[0-9]" title='Only Number' min="1" max="1000" class="input-number" [(ngModel)]="count">
            </mat-form-field>
            <button mat-raised-button class="plus" (click)="countPlus()">+</button>
        </div>
        <button mat-raised-button class="buy" (click)="addProductToBasket()">В корзину</button>
    </div>
</div>
